body {
    text-align:center;
    background-color:#E8C07D
}

/* Font Families */

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
    color:#614124;

}

/* Headers */
h1 {
    font-weight:700;
}

h2,h3 {
    font-weight: 600;
}

p {
    font-weight: 600;
}

/* Section Colors */
.light {
    background-color: #E8C07D;
}

.dark {
    background-color: #614124;
}


/* Section Spacing */


/* Title Text */

.title {
    padding:0 25%;
    position:relative;
}

.banner-title {
    position:relative;
    font-size:4em;
    padding-top:50px;
}

.banner-subtitle {
    position:relative;
    font-size:4em;
    padding-top:50px;
    padding-bottom:100px;
}

.cattails {
    position: absolute;
    left:-10px;
    bottom:-40px;
    width:100%;
}

/* Navbar */

.navbar-toggler {
    background-color:#E8C07D;
}

.nav-title {
    color:#E8C07D;
    font-size:3.5em;
    padding-left:120px;
}

.logo {
    width: 5em;
    position:relative;
    float:left;
}

.nav-header {
    color:#E8C07D;
}

/* Welcome */

#welcome {
    position:relative;
}

.roots {
    position:absolute;
    left:-10px;
}

.welcome {
    padding:50px 0 50px 0;
    text-align:center;
    width:70%;
    position:relative;
}

.welcome-msg {
    color: #E8C07D;
    padding-top:50px;
}

.welcome-bio {
    color: #E8C07D;
    padding: 30px 0;
    font-size: 1.25em;
    width:80%;
    margin: 0 auto;
}

.carousel-image {
    width:65%;
    border: 5px solid #E8C07D;
}

.welcome-arrow {
    color:#E8C07D;
    font-size:3em;
}

/* Cards */

#cards .grid {
    padding: 100px 10%;
}

.card {
    margin:10px auto;
    width:90%;
    background-color:#E8C07D;
    border:none;
}

.card-text {
    color:#614124;
}

.card-title {
    color:#614124;
}

.card-image {
    border:5px #614124 solid;
    width:102%;
}

.card-body .btn {
    background-color:#E8C07D;
    border: black 2px solid;
}

.card-learn-more {
    padding-top:10px;
    font-weight:600;
}

/* Logos */

#logos .container-fluid {
    padding-bottom: 100px;
}

.org-sustainability {
    padding: 80px 0 0 20%;
    width: 100%;
}

.org-nsf {
    padding: 20px 10%;
    width:70%;
}

.org-cap {
    padding: 0 20% 0 0;
    width: 100%;
}


@media only screen and (max-width:992px) {

    /* Navbar */
    
    .navbar-toggler {
        margin:20px 0;
        width:100%;
    }
    .nav-title {
        visibility:hidden;
        font-size:0em;
    }

    .nav-div {
        text-align:center;
    }

    .navbar-brand {
        margin:0;
    }

    .logo {
        float:none;
        margin: 0 auto;
        width:50%;
        padding-top:30px;
    }

    /* Title Card */

    .banner-title {
        font-size: 3em;
    }

    .title {
        padding:20px;
    }

    .cattails {
        bottom:0px;
    }

    /* Carousel */
    .carousel-image {
        width:90%;
    }

    .welcome-arrow {
        visibility: hidden;
    }

    .welcome {
        width:100%;
    }
}